.typing-animation {
    display: inline-flex;
    align-items: center;
}

.typing-dot {
    width: 8px;
    height: 8px;
    background-color: #a7a7a7;
    border-radius: 50%;
    margin-right: 4px;
    animation: typing 1s infinite;
}

.all-data {
    line-height: 1.6;
}

.all-data h4 {
    font-size: 32px;
}

iframe#_hjRemoteVarsFrame {
    display: none !important;
    width: 1px !important;
    height: 1px !important;
    opacity: 0 !important;
    pointer-events: none !important;
}

@keyframes typing {
    0% {
        opacity: 0.3;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    100% {
        opacity: 0.3;
        transform: scale(1);
    }
}
